[Unit]
Description=gstreamer camera stream service

[Service]
Type=simple
ExecStart=/usr/bin/gst-launch-1.0 v4l2src device=/dev/video0 ! image/jpeg,width=1920,height=1080,framerate=60/1 ! jpegdec ! video/x-raw ! nvvidconv ! 'video/x-raw(memory:NVMM),format=I420' ! nvv4l2h264enc bitrate=30000000 maxperf-enable=1 ! h264parse ! flvmux ! rtmpsink location="rtmp://192.168.0.90/live/test live=1"
Restart=on-failure

[Install]
WantedBy=multi-user.target